@import url("fonts.css");
@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  padding: 20px;
  background-color: #0e333d;
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.footer a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .footer a:hover {
    text-decoration-color: inherit;
  }
}

.header {
  background-color: #fff9f4;
  font-family: "Merriweather";
  font-size: 20px;
  border-bottom: 1px solid rgba(131, 131, 131, 0.21);
}
.header__container {
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 105px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  flex-shrink: 0;
  color: #000;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  position: relative;
  z-index: 5;
}
.header__menu {
}
.menu {
  flex: 1 1 auto;
}
.menu__body {
}
.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 8px;
}
.menu__item {
}
.menu__item--active .menu__link {
  font-weight: 700;
  text-decoration: underline;
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent .menu__link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.menu__item--parent .menu__link::after {
  content: "";
  width: 16px;
  height: 8px;
  background: url("../img/icons/arrow-down.svg") 0 0 no-repeat;
  transition: transform 0.3s;
}
.menu__link {
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    text-decoration-color: inherit;
  }
  .menu__item:hover .menu__link::after {
    transform: rotate(180deg);
  }
}
.header__login {
  flex-shrink: 0;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: #0e333d;
  border: 1px solid transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
  position: relative;
  z-index: 5;
}
@media (any-hover: hover) {
  .header__login:hover {
    background-color: #fff;
    border: 1px solid #0e333d;
    color: #000;
  }
}
.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-top: 7px;
  transform: translateY(10%);
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
}
.sub-menu__list {
  width: 150px;
  background-color: #0e333d;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sub-menu__link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    text-decoration-color: inherit;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 1199.98px) {
  .menu__list {
    column-gap: 20px;
  }
}
@media (max-width: 940px) {
  .menu-open body {
    overflow: hidden;
  }
  .header__container {
    min-height: 60px;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0e333d;
    padding: 90px 15px 30px;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    width: 100%;
    height: 60px;
    background-color: #fff9f4;
    transition: left 0.3s;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    text-align: right;
    row-gap: 30px;
  }
  .menu__item--parent .menu__link {
    display: block;
  }
  .menu__item--parent .menu__link::after {
    display: none;
  }
  .menu__link {
    color: #fff;
    font-size: 26px;
  }
  .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
  .sub-menu__list {
    width: 100%;
    border-radius: 0;
  }
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    flex: 0 0 30px;
    position: relative;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    gap: 15px;
  }
  .header__logo {
    font-size: 22px;
  }
  .header__login {
    padding: 8px 15px;
    font-size: 16px;
  }
}

.page {
}
.page__hero {
}
.hero {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #fff9f4;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.hero__content {
  flex: 0 1 48%;
  padding: 65px 0;
  font-family: "DM Serif Text";
  color: #0e333d;
}
.hero__title {
  font-size: 78px;
  line-height: 127%;
}
.hero__title:not(:last-child) {
  margin-bottom: 32px;
}
.hero__text:not(:last-child) {
  margin-bottom: 48px;
}
.hero__text p {
  color: #727272;
  font-family: "Inter";
  font-size: 22px;
  line-height: 148%;
}
.hero__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 47px;
  row-gap: 15px;
  font-size: 28px;
  line-height: 120%;
}
.hero__link-shop {
  color: #fff;
  border-radius: 5px;
  background-color: #0e333d;
  padding: 10px 44px;
  border: 1px solid transparent;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .hero__link-shop:hover {
    background-color: #fff;
    border: 1px solid #0e333d;
    color: #000;
  }
}
.hero__link-video {
  text-decoration: underline;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .hero__link-video:hover {
    text-decoration-color: transparent;
  }
}
.hero__images {
  flex: 0 1 47%;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.hero__image {
  flex: 0 1 50%;
}
.hero__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 245 / 467;
  object-fit: cover;
}
@media (max-width: 1100px) {
  .hero__title {
    font-size: 65px;
  }
}
@media (max-width: 991.98px) {
  .hero {
    padding: 70px 0;
  }
}
@media (min-width: 940px) {
  .hero__image:first-child {
    padding-top: 69px;
  }
  .hero__image:last-child {
    padding-bottom: 69px;
  }
}
@media (max-width: 940px) {
  .hero__container {
    display: block;
  }
  .hero__content {
    padding: 0;
    text-align: center;
  }
  .hero__content:not(:last-child) {
    margin-bottom: 50px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__title:not(:last-child) {
    margin-bottom: 20px;
  }
  .hero__text:not(:last-child) {
    margin-bottom: 30px;
  }
  .hero__links {
    justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .hero {
    padding: 50px 0;
  }
  .hero__content:not(:last-child) {
    margin-bottom: 35px;
  }
  .hero__title {
    font-size: 42px;
    line-height: 110%;
  }
  .hero__text p {
    font-size: 18px;
    line-height: 120%;
  }
  .hero__links {
    font-size: 20px;
  }
  .hero__images {
    gap: 15px;
  }
}
