@import "functions";
@import "reset";

body {
	font-size: toRem(24);
	opacity: 0;
	transition: opacity 3s;
	&.loaded {
		opacity: 1;
	}
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

.list {
	padding: toRem(30) toRem(15);
	display: flex;
	flex-direction: column;
	gap: toRem(15);
	align-items: flex-start;
}

.item {
	font-size: toRem(25);
	cursor: pointer;
}

div.item {
	font-size: toRem(50);
	padding: toRem(30);
	background-color: green;
	color: #fff;
}

.header,
.footer {
	padding: toRem(30);
	font-size: toRem(30);
	background-color: #ccc;
	text-align: center;
}

.footer {
	transition: background-color 0.5s;
}
